.filter-panel {
    label {
        border-bottom: 1px solid grey;
    }
    button[role=radio] {
        // text-align: center;
        background-color: #beec8b;
        margin-bottom: 5px;
        // border-radius: 5px;
        cursor: pointer;
        padding: .375rem 1.5rem;
        min-width: 90px;
    }
    button[role=radio][aria-checked=true] {
        background-color: #80bd3c;
    }
}
.container-fluid {
    padding-bottom: 15px;
    .card {
        cursor: pointer;
        img {
            width: 100%;
            transition: transform ease-in .2s;
        } 
        .image-container{
            overflow: hidden;
        }
    }
    .card:hover {
        img {
            transform: scale(1.2);
        }
    }
}
